# Project Title: Titanic Survival Prediction Using Naive Bayes Algorithm
# Author: [VEMULA DILEEP]
# Last Modified: [Date]
 
 Description:
# This notebook demonstrates the application of the Naive Bayes classifier
# on the Titanic dataset to predict survival. The dataset includes
# features like passenger age, class, gender, and more, which will be
# used to predict the likelihood of survival.

 Objective:
# The goal is to build and evaluate a Naive Bayes model for binary classification.

 Steps:
# 1. Import libraries and load the Titanic dataset.
# 2. Perform data preprocessing (handling missing values, encoding categorical features).
# 3. Split the data into training and testing sets.
# 4. Train the Naive Bayes model and make predictions.
# 5. Evaluate the model using accuracy, confusion matrix, and classification report.

LOAD DATASET

In [207]:
import seaborn as sns

data = sns.load_dataset("titanic")
data

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

DATA CLEANING

In [208]:
data.drop(['sibsp','parch','alive','deck','embarked','who','embark_town','adult_male'],axis='columns',inplace=True)
data.head()

   survived  pclass     sex   age     fare  class  alone
0         0       3    male  22.0   7.2500  Third  False
1         1       1  female  38.0  71.2833  First  False
2         1       3  female  26.0   7.9250  Third   True
3         1       1  female  35.0  53.1000  First  False
4         0       3    male  35.0   8.0500  Third   True

In [209]:
import pandas as pd

data = pd.get_dummies(data,columns=['sex'])

In [210]:
data

     survived  pclass   age     fare   class  alone  sex_female  sex_male
0           0       3  22.0   7.2500   Third  False       False      True
1           1       1  38.0  71.2833   First  False        True     False
2           1       3  26.0   7.9250   Third   True        True     False
3           1       1  35.0  53.1000   First  False        True     False
4           0       3  35.0   8.0500   Third   True       False      True
..        ...     ...   ...      ...     ...    ...         ...       ...
886         0       2  27.0  13.0000  Second   True       False      True
887         1       1  19.0  30.0000   First   True        True     False
888         0       3   NaN  23.4500   Third  False        True     False
889         1       1  26.0  30.0000   First   True       False      True
890         0       3  32.0   7.7500   Third   True       False      True

[891 rows x 8 columns]

LABEL ENCODING FOR CLASS COLUMN

In [211]:
data['class'].value_counts()

class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [212]:
data['class']= data['class'].map({'Third':3,'Second':2,'First':1})
data['alone']= data['alone'].map({True:1,False:0})
data['sex_male']= data['sex_male'].map({True:1,False:0})
data['sex_female']= data['sex_female'].map({True:1,False:0})

In [213]:
data.head()

   survived  pclass   age     fare class  alone  sex_female  sex_male
0         0       3  22.0   7.2500     3      0           0         1
1         1       1  38.0  71.2833     1      0           1         0
2         1       3  26.0   7.9250     3      1           1         0
3         1       1  35.0  53.1000     1      0           1         0
4         0       3  35.0   8.0500     3      1           0         1

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   age         714 non-null    float64
 3   fare        891 non-null    float64
 4   class       891 non-null    category
 5   alone       891 non-null    int64
 6   sex_female  891 non-null    int64
 7   sex_male    891 non-null    int64
dtypes: category(1), float64(2), int64(5)
memory usage: 49.9 KB

HANDLING NULL VALUES OF AGE COLUMN

In [215]:
data['age'].mean()

np.float64(29.69911764705882)

In [216]:
data.fillna({'age':data['age'].mean()},inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   survived    891 non-null    int64
 1   pclass      891 non-null    int64
 2   age         891 non-null    float64
 3   fare        891 non-null    float64
 4   class       891 non-null    category
 5   alone       891 non-null    int64
 6   sex_female  891 non-null    int64
 7   sex_male    891 non-null    int64
dtypes: category(1), float64(2), int64(5)
memory usage: 49.9 KB

In [217]:
target = data['survived']
input = data.drop(columns='survived')

In [218]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(input,target,test_size=0.2)

In [219]:
print(len(X_train))
print(len(X_test))

712
179

In [220]:
from sklearn.naive_bayes import GaussianNB
model =GaussianNB()

In [221]:
model.fit(X_train,y_train)

GaussianNB()

In [222]:
model.score(X_test,y_test)

0.7988826815642458

In [223]:
y_test[:10]

172    1
292    0
267    1
362    0
412    1
32     1
576    1
9      1
359    1
6      0
Name: survived, dtype: int64

In [224]:
model.predict(X_test[:10])

array([1, 0, 0, 1, 1, 1, 1, 1, 1, 0])